.blog-post-card2-blog-post-card {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1100px;
  min-width: auto;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: row;
  justify-content: space-between;
  background-color: RGBA(23,23,35,0.8);
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-image {
  width: 300px;
  height: 300px;
  align-self: center;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.blog-post-card2-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.blog-post-card2-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-text {
  color: var(--dl-color-secondary-100);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.blog-post-card2-text1 {
  color: var(--dl-color-secondary-200);
  font-size: 0.8rem;
  font-weight: 300;
}
.blog-post-card2-text2 {
  color: var(--dl-color-gray-white);
  font-size: 1.6em;
  margin-bottom: 16px;
}
.blog-post-card2-text3 {
  color: var(--dl-color-secondary-100);
  font-size: 1.1rem;
  margin-bottom: 24px;
}
.blog-post-card2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-profile {
  display: flex;
  align-items: center;
}
.blog-post-card2-image1 {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card2-text4 {
  color: var(--dl-color-secondary-200);
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card2-text5 {
  color: var(--dl-color-primary-500);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}





@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
  .blog-post-card2-image {
    width: 100%;
  }
  .blog-post-card2-root-class-name3 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .blog-post-card2-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .blog-post-card2-text5 {
    width: auto;
  }
  .blog-post-card2-root-class-name3 {
    margin: 0px;
  }
}
