.main-rules-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-rules-sidebar {
  width: auto;
  height: auto;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.main-rules-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.main-rules-link {
  color: var(--dl-color-secondary-100);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-rules-text {
  text-transform: uppercase;
}
.main-rules-nav-item1 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.main-rules-link1 {
  color: var(--dl-color-secondary-100);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-rules-text001 {
  text-transform: uppercase;
}
.main-rules-options {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.main-rules-link2 {
  color: var(--dl-color-secondary-200);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-rules-link3 {
  color: var(--dl-color-secondary-200);
  text-decoration: none;
}
.main-rules-nav-item2 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.main-rules-link4 {
  color: var(--dl-color-secondary-100);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-rules-text002 {
  text-transform: uppercase;
}
.main-rules-options1 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.main-rules-link5 {
  color: var(--dl-color-secondary-200);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-rules-link6 {
  color: var(--dl-color-secondary-200);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-rules-text003 {
  color: var(--dl-color-secondary-200);
  margin-bottom: var(--dl-space-space-unit);
}
.main-rules-text004 {
  color: var(--dl-color-secondary-200);
}
.main-rules-container1 {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-rules-container2 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: space-between;
}
.main-rules-text005 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
}
.main-rules-text007 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.main-rules-container3 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: space-between;
}
.main-rules-text016 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
}
.main-rules-text018 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.main-rules-text019 {
  font-style: normal;
  font-weight: 700;
}
.main-rules-text032 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.main-rules-text033 {
  font-style: normal;
  font-weight: 700;
}
.main-rules-container4 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: space-between;
}
.main-rules-text046 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
}
.main-rules-text048 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  line-height: 1.625;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.main-rules-text049 {
  font-style: normal;
  font-weight: 700;
}
.main-rules-text054 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text056 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text057 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text058 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text059 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text060 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text061 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text072 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text081 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text098 {
  font-style: normal;
}
.main-rules-text099 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text100 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text101 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text105 {
  color: var(--dl-color-secondary-100);
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.main-rules-text106 {
  font-style: normal;
  font-weight: 700;
}
.main-rules-text110 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text111 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text112 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text113 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text114 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text115 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text116 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text117 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text118 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text119 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text120 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text121 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text122 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text123 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text124 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text125 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text126 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text127 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text128 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text129 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text130 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text131 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text132 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text133 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text134 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text135 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text136 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text137 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text138 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text146 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text147 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text148 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text149 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text150 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text151 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text152 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text153 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text154 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text155 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text156 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text157 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text158 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text159 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text160 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text161 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text162 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text163 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text164 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text170 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text171 {
  font-style: normal;
  font-weight: 300;
}
.main-rules-text172 {
  font-style: normal;
  font-weight: 300;
}
